@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    padding-top: 50px;
    background-color: rgb(61, 61, 61);
}

header {
    display: flex;
    background: rgb(0, 0, 0);
    padding: 3px;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    justify-content: left;
    align-items: center;
    gap: auto;
    flex-wrap: wrap;
    height: 50px;
}

.icon {
    height: 50px;
    transition-duration: 700ms;
}

.icon:hover {
    background-color: rgba(61, 61, 61);
    transition-duration: 700ms;
    border-radius: 5px;
}

.links_parent {
    text-align: left;
}

.page {
    display: inline-block;
    text-align: center;
    height: 100px;
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
}

.page img {
    display: inline-block;
    margin: 0 auto;
}

.page:hover {
    background-color: rgb(0, 0, 0);
    transition-duration: 1.5s;
    border-radius: 5px;
    transform: rotate(0.0turn) scale(1.1);
}

.image {
    display: inline-block;
    text-align: center;
    height: 100px;
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
}

.text {
    font-family: "Rubik", sans-serif;
}


.btn {
    width: 53px;
    height: 53px;
    margin: 0px 0px;
    border: 0px;
    background-color: rgb(0, 0, 0);
    justify-content: left;
    align-items: middle;
    padding: 0px;
    transition-duration: 500ms;
}

.btn:hover {
    background-color: rgba(61, 61, 61);
    transition-duration: 500ms;
    border-radius: 5px;
}

.hambimg {
    width: 50px;
    height: 50px;
    margin: 0px 0px;
    top: 0;
    border: 0px;
    padding: 0px;
}

.contentBox {
    margin: 33px 2px 0 2px;
    border: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    gap: auto;
}

.card, .cardSelected {
    display: grid;
    border: 1px solid black;
    border-radius: 0px;
    width: 144px;
    grid-template-columns: 1% 14% 70% 14% 1%;
    height: 250px;
    grid-template-rows: 22% 47% 9% 9% 9% 4%;
    transition: 0.3s;
    margin: 7px;
}

.card {
    background-color: rgb(182, 182, 182);
    color: rgb(20,20,20, 0.8);
}

.card:hover {
    z-index: 1;
    transform: rotate(0.0turn) scale(1.04);
    background-color: rgb(182, 189, 210);
    color: rgb(5, 18, 30);
}

.cardSelected {
    transform: rotate(0.0turn) scale(1.04);
    background-color: rgb(63, 189, 220);
    color: rgb(0,0,0);
}

.cardSelected:hover {
    z-index: 1;
    transform: rotate(0.0turn) scale(1.02);
    background-color: rgb(80, 191, 210);
    color: rgb(5, 18, 30);
}

.cardName, .cardPic, .cardHP,
.cardATK, .cardDEF {
    justify-self: center;
    grid-column: 1 / 6;
    flex-shrink: 0;
    flex-grow: 0;
}

.cardName {
    grid-row: 1;
    font-size: auto;
    font-weight: bolder;
    text-align: center;
    color: rgb(6, 74, 134);
    align-self: center;
}

.cardPic {
    grid-column: 2 / 5;
    grid-row: 2;
    width: 100%;
}

.cardHP, .cardATK, .cardDEF {
    font-size: small; 
}

.cardHP { grid-row: 3;}

.cardATK { grid-row: 4;}

.cardDEF { grid-row: 5;}